%legend Address
= f.simple_fields_for :address do |address|
  = address.input :street
  = address.input :number
  = address.input :postal_code
  = address.input :city_name, as: :string, input_html: { rel: 'autocomplete', 'data-source' => cities_path(format: :json) }
  = address.input :complement