= title :index, customers

%table.table.table-striped.table-condensed.table-hover
  %tr
    %th= customers.l(:name)
    %th
    %th
    %th

  - customers.each do |customer|
    %tr
      %td= customer.name
      = table_actions(customer)

%br

= actions :index, customers