%legend= f.object.l(:sale_items)
%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th= f.object.sale_items.l(:product)
      %th= f.object.sale_items.l(:price)
      %th= f.object.sale_items.l(:quantity)
      %th= f.object.sale_items.l(:discount)
      %th= f.object.sale_items.l(:total)
      %th

  %tbody
    = f.simple_fields_for :sale_items do |sale_item|
      = render 'sale_items/fields', f: sale_item

  %tfoot
    %tr
      %td
        = link_to_add_association 'add', f, :sale_items, partial: 'sale_items/fields', 'data-association-insertion-node' => 'tbody', 'data-association-insertion-method' => 'append'