= simple_form_for sale do |f|
  = f.error_notification

  .form-inputs
    = f.association :customer
    = f.association :vendor
    = render partial: 'sale_items/form', locals: { f: f }

  .form-actions
    = f.button :submit
