= title :index, sales

%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th= sales.l(:customer)
      %th= sales.l(:total)
      %th
      %th
      %th

  %tbody
    - sales.each do |sale|
      %tr
        %td= sale.customer.name
        %td= sale.total
        = table_actions(sale)

%br

= actions :index, sales