!!! 5
%html{ lang: 'en', 'ng-app' => 'exampleFilter' }
  %head
    %title Erp
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = csrf_meta_tags
    = stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :application, 'data-turbolinks-track' => true

  %body
    %nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
      .container
        .navbar-header
          = link_to 'ERP', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to t(Customer, count: 2), customers_path
            %li= link_to t(Sale, count: 2), sales_path
            %li= link_to '...', '#'
            %li= link_to '...', '#'
            %li= link_to '...', '#'

    .container
      = yield